<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <main>
      <h2>Login</h2>
      <form id="loginForm">
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" />
        </div>
        <button type="submit">Login</button>
      </form>
    </main>

    <ul id="errorMessages"></ul>

    <footer>
      <p class="text-center text-muted">&copy; Dashboard</p>
    </footer>
  </body>
</html>

<script>
  $(document).ready(function () {
    $("#loginForm").on("submit", validate);
  });

  function validate(e) {
    e.preventDefault();
    const data = {
      email: $("#email").val().trim(),
      password: $("#password").val().trim(),
    };

    if (!data.email || !data.password) {
      return;
    }
    $.ajax({
      url: "/login",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function (data) {
        console.log("success");
        //redirect to dashboard:
        window.location.href = "/dashboard";
      },
      error: function (message) {
        $("#errorMessages")
          .empty()
          .append(`<li>${message.responseJSON.message}</li>`);
      },
    });
  }
</script>
